<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<body>
    <nav th:replace="fragments :: navigation" />

    <table>
        <tr>
            <td style="padding:5px" th:text="${car.make}"></td>
            <td style="padding:5px" th:text="${car.model}"></td>
            <td style="padding:5px" th:text="${car.milesPerGallon}"></td>
        </tr>
    </table>
</body>
</html>